<form class="form-wraper mt-4" method="POST" action="/create/post/company">
  <h3>Thêm công ty mới</h3>
  <div class="wrap-group">
    <div class="wraper-company">
      <div class="mb-3">
        <label for="nameCompany" class="form-label">Tên công ty</label>
        <input type="text" name="name" class="form-control" id="nameCompany" placeholder="Tên công ty...">
      </div>
      <div class="mb-3">
        <label for="slogan" class="form-label">slogan</label>
        <input type="text" name="slogan" class="form-control" id="slogan" placeholder="slogan...">
      </div>
      <div class="mb-3">
        <label for="logoCompany" class="form-label">Logo</label>
        <input type="file" name="logo" class="form-control" id="logoCompany" placeholder="Logo...">
      </div>
      <div class="mb-3">
        <label for="field" class="form-label">lĩnh vực</label>
        <select name="field" class="form-select field">
          <option>Lĩnh vực</option>
          <option value="Công nghệ">Công nghệ</option>
          <option value="Nhà hàng">Nhà hàng</option>
          <option value="Khách sạn">Khách sạn</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="typeCompany" class="form-label">Loại hình</label>
        <select name="typeCompany" class="form-select typeCompany" aria-label="Default select dark">
          <option>Loại hình</option>
          <option value="TNHH">Trách nhiệm hữu hạn</option>
          <option value="Cổ phần">Cổ phần</option>
          <option value="Tập đoàn">Tập đoàn</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ</label>
        <input type="text" name="address" class="form-control" id="address" placeholder="Địa chỉ...">
      </div>
      <div class="mb-3">
        {{!-- <label for="albums" class="form-label">Ảnh nổi bật</label>
        <input type="file" multiple name="albums" class="form-control" id="albums"> --}}
        <div class="upload-img">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="albums" class="form-label">Ảnh nổi bật</label>
                <input type="file" multiple name="albums" class="form-control" id="albums">
              </div>
            </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-sm-12">
              <div class="preview-images"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="description">
      <div class="mb-3">
        <label for="description" class="form-label"></label>
        <textarea class="description" name="description" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

