<div class="footer">
    <ul class="row">
        <li class="col-lg-4 logo">
            <a class="logo-img" href="#">
            <img src="./img-video/logo.png" alt="logo">
         </a>
        </li>
        <li class="col-lg-4">
            <h2>Copy right @group5 2022</h2>
        </li>
        <li class="col-lg-4">
            <button class="contactBtn">contact us</button>
        </li>
    </ul>
</div>