

<div class="header">
   <div class="header-infor">
      <ul>
         <li>
            <i class="fa-solid fa-location-dot"></i>
              14, Doãn Uẩn, Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng
         </li>
         <li>
            <i class="fa-solid fa-phone"></i>
             0916074130
         </li>
      </ul>
      <ul>
         <li><a class="icon" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-instagram"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
   </div> 

   <div class="search row">
      <div class="col-lg-4 logo">
         <a class="logo-img" href="#">
            <img src="/img-video/logo.png" alt="logo">
         </a>
      </div>

      <form class="col-lg-4 search-wrap" method="GET" action="#">
         <input name="keyword" type="text" class="search-input" placeholder="Tìm kiếm công ty...">
         <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form method="GET" action="#">

      <div class="col-lg-4 account">
         <ul>
             {{#if userName}}
            <li class="notifi">
               <i class="fa-solid fa-bell"></i>
               <span>350</span>
            </li>
               {{/if}}
             {{#if userName}}
            <li class="account-item">
               <img class="avarta" src="{{avatar}}" alt="avarta">
               <h4 class="user-name">{{userName}}</h4>
            </li>

            <a href="/logout" class="loginBtn">Đăng xuất</a>
            {{/if}}

            {{#unless userName}}
            <a href="/login" class="loginBtn">Đăng nhập</a>
            {{/unless}}
         </ul>
      </div>
   </div>

   <div class="header-nav">
      <ul>
         <li><a class="active" href="/">Trang chủ</a></li>
         <li><a href="/rank">xếp hạng</a></li>
         <li><a href="/create/form/company">tạo bài viết</a></li>
         <li><a href="">tuyển dụng</a></li>
         <li class="selectList">
            <div class="selectBtn" style="cursor: pointer">
               Lĩnh vực
               <i style="margin: 0 4px" class="fa-solid fa-chevron-down"></i>
               <ul class="selectItem">
                  <li><a href="">Nhà hàng</a></li>
                  <li><a href="">khách sạn</a></li>
                  <li><a href="">công nghệ</a></li>
               </ul>
            </div>
         </li>
         <li><a href="">liên hệ</a></li>
      </ul>
   </div>
</div>