

<div class="header">
   <div class="header-infor">
      <ul>
         <li>
            <i class="fa-solid fa-location-dot"></i>
              14, Doãn Uẩn, Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng
         </li>
         <li>
            <i class="fa-solid fa-phone"></i>
             0916074130
         </li>
      </ul>
      <ul>
         <li><a class="icon" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-instagram"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
   </div> 

   <div class="search row">
      <div class="col-lg-4 logo">
         <a class="logo-img" href="#">
            <img src="./img-video/logo.png" alt="logo">
         </a>
      </div>
      <div class="col-lg-4 search-wrap">
         <input type="text" class="search-input" placeholder="Tìm kiếm công ty...">
         <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="col-lg-4">col 3</div>
   </div>

   <div></div>
</div>