

<div class="header">
   <div class="header-infor">
      <ul>
         <li>
            <i class="fa-solid fa-location-dot"></i>
              14, Doãn Uẩn, Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng
         </li>
         <li>
            <i class="fa-solid fa-phone"></i>
             0916074130
         </li>
      </ul>
      <ul>
         <li><a class="icon" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-instagram"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
   </div> 

   <div class="search row">
      <div class="col-lg-4 logo">
         <a class="logo-img" href="#">
            <img src="./img-video/logo.png" alt="logo">
         </a>
      </div>

      <form class="col-lg-4 search-wrap" method="GET" action="#">
         <input name="keyword" type="text" class="search-input" placeholder="Tìm kiếm công ty...">
         <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form method="GET" action="#">

      <div class="col-lg-4 account">
         <ul>
            <li class="notifi">
               <i class="fa-solid fa-bell"></i>
               <span>350</span>
            </li>
            <li class="account-item">
               <img class="avarta" src="https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-1/273289101_1390181588066775_5939730856402468145_n.jpg?stp=dst-jpg_p240x240&_nc_cat=105&ccb=1-7&_nc_sid=7206a8&_nc_ohc=0pqZcT3-7yMAX9t5wAq&_nc_ht=scontent.fdad1-2.fna&oh=00_AT8e9NW_cJg2RmPRNZHi1Q6Cs9bK624vEnLKL_9dBBPszQ&oe=62C45B71" alt="avarta">
               <h4 class="user-name">Mạnh Cường</h4>
            </li>

            <button class="loginBtn">Đăng xuất</button>
            
         </ul>
      </div>
   </div>

   <div></div>
</div>