<div class="header">
   <div class="header-infor">
      <ul>
         <li>
            <i class="fa-solid fa-location-dot"></i>
            14, Doãn Uẩn, Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng
         </li>
         <li>
            <i class="fa-solid fa-phone"></i>
            0916074130
         </li>
      </ul>
      <ul>
         <li><a class="icon" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-instagram"></i></a></li>
         <li><a class="icon" href="#"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
   </div>

   <div class="search row">
      <div class="col-lg-4 logo">
         <a class="logo-img" href="#">
            <img src="/img-video/logo.png" alt="logo">
         </a>
      </div>

      <form class="col-lg-4 search-wrap" method="GET" action="/company/search">
         <input name="name" type="text" class="search-input" placeholder="Tìm kiếm công ty...">
         <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form method="GET" action="#">

      <div class="col-lg-4 account">
         <ul class="account-wr">
            {{#if userName}}
            <li class="notifi">
               <i class="fa-solid fa-bell"></i>
               <span>350</span>
            </li>
            {{/if}}

            {{#if userName}}
            <div class="dropdown">
               <a class=" account-item btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-bs-toggle="dropdown" aria-expanded="false">

                  {{#if avatar}}
                  <img class="avarta" src="/img-video/{{avatar}}" alt="avarta">
                  {{else}}
                  <img class="avarta"
                     src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=7206a8&_nc_ohc=VEahJ2Ps3kMAX8uqwfO&_nc_ht=scontent.fdad2-1.fna&oh=00_AT-rHxUn0aY1ejPx5MbSrV2mGBtZso_3tCyoHwhcwQByjg&oe=62EE1078"
                     alt="avarta">
                  {{/if}}
                  <h4 class="user-name">{{userName}}</h4>
               </a>

               <ul style="width: 100%" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/profile/{{slug}}">Hồ sơ</a></li>
                  <li><a class="dropdown-item" href="#">Bài viết của tôi</a></li>
                  <li><a href="/logout" class="dropdown-item">Đăng xuất</a></li>
               </ul>
            </div>
            {{/if}}

            {{#unless userName}}
            <a href="/login" class="loginBtn">Đăng nhập</a>
            {{/unless}}
         </ul>
      </div>
   </div>

   <div class="header-nav">
      <ul>
         <li><a class="active" href="/">Trang chủ</a></li>
         <li><a href="/rank">xếp hạng</a></li>
         <li><a href="/create/form/company">tạo bài viết</a></li>
         <li><a href="">tuyển dụng</a></li>
         <li class="selectList">
            <div class="selectBtn" style="cursor: pointer">
               Lĩnh vực
               <i style="margin: 0 4px" class="fa-solid fa-chevron-down"></i>
               <ul class="selectItem">
                  <li><a href="/company/sort/Nhà hàng">Nhà hàng</a></li>
                  <li><a href="/company/sort/khách sạn">khách sạn</a></li>
                  <li><a href="/company/sort/Công nghệ">công nghệ</a></li>
               </ul>
            </div>
         </li>
         <li><a href="/contact">liên hệ</a></li>
      </ul>
   </div>
</div>